ul { 
 height:10vh;	
 list-style-type:none;
 margin:0px;
 padding:0px;
 background-color:darkcyan;
 overflow:hidden;
 border:none; 
} 

 body{ margin :0px;}

li{
	float:right;
}

li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
	font-size:22px;
}

li a:hover{
	font-size:40px;
}

.activepage{
	display:none;
 
}

.kekjiahuei{
	position:relative;
	color:white;
	font-size:40px;
}

.kekjiahuei span{
	position:absolute;
	display:none;
}

.kekjiahuei:hover span{
         display:block;
         top:2px;
     }




.background1{
	position:relative;
margin:0px;	
}


.background2 img {
	height:90vh;
	position:absolute;
	animation: show 18s linear infinite 0s forwards ;
	animation-play-state:running;
	-webkit-animation-play-state:running;
	-webkit-animation: show 18s linear infinite 0s forwards ;
}

@keyframes show {
    0% { visibility: visible;z-index:4; filter:brightness(40%) ;}
	17% { visibility: visible;z-index:4; filter:brightness(140%) ;}
	17.00001% { visibility: hidden;z-index:0;  }
    100% { visibility: hidden;z-index:0;  }
}

@-webkit-keyframes show {
	0% { visibility: visible;z-index:4; filter:brightness(40%) ;}
	17% { visibility: visible;z-index:4; filter:brightness(140%) ;}
	17.00001% { visibility: hidden;z-index:0;  }
    100% { visibility: hidden;z-index:0;  }
	
}

.background2 img:nth-child(0){
	;
}
.background2 img:nth-child(1){
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
	
}
.background2 img:nth-child(2){
	animation-delay: 6s;
		-webkit-animation-delay: 6s;


}
.background2 img:nth-child(3){
	animation-delay: 9s;
		-webkit-animation-delay: 9s;

}
.background2 img:nth-child(4){
	animation-delay: 12s;
		-webkit-animation-delay: 12s;

	
}
.background2 img:nth-child(5){
	animation-delay: 15s;
		-webkit-animation-delay: 15s;

}



.mypic {
z-index:10;	
position:absolute;
top:10px;
left:25px;
border-radius:50%;

}
.text1{
	background-color:darkcyan;
	z-index:10;
	position:absolute;
	top:300px;
	left:8px;
	font-size:30px;
	color:white;
	font-weight:bold;
	border-radius:5px;
	text-align:center;


}

.text2{
	z-index:10;
	position:absolute;
	font-size:25px;
	color:green;
	top:360px;
	left:30px;
	width:1000px;
	background-color:white;
	font-weight:bold;
	border-radius:10px;

}

.historybackground{
	
	position:relative;
	height:2488px;;
	padding-bottom:0px;
	background-color:none;

}

.historybackground img{
	margin:0pc;
	padding:0pc;
	
}

.historyword{
	position:absolute;
	top:20px;
	left:20px;
	font-size:40px;
	color:darkcyan;
	background-color:white;
	border-radius:10px;
	padding:8px;

}
.childhood{
	width:98%;
	margin-left:0.8%;
   position:absolute;
   top:120px;
   
   color:black;
   font-size:20px;
    
   
   
  }
.childhood img{
	
	position:relative;
	filter:brightness(50%);
}

.ch1{
	z-index:5;
}


.childhood:hover>.ch1{
	animation-name:ch1;
	animation-duration:1.8s;
	animation-fill-mode:forwards;
	-webkit-animation-name:ch1;
	-webkit-animation-duration:1.8s;
	-webkit-animation-fill-mode:forwards;

}
@keyframes ch1{
	0% {filter:brightness(50%);}
	50% {filter:brightness(75%);transform:scale(1.18);margin-left:30px;}
	100%{filter:brightness(100%);transform:scale(1);width:25%;}

	}
	
@-webkit-keyframes ch1{
	0% {filter:brightness(50%);}
	50% {filter:brightness(75%);transform:scale(1.18);margin-left:30px;}
	100%{filter:brightness(100%);transform:scale(1);width:25%;}

	}			

.ch2{
 z-index:4;

}


.childhood:hover > .ch2 {
	animation-delay:1.8s;
	animation-name:ch2;
	animation-duration:1.8s;
	animation-fill-mode:forwards;
	-webkit-animation-delay:1.8s;
	-webkit-animation-name:ch2;
	-webkit-animation-duration:1.8s;
	-webkit-animation-fill-mode:forwards;

	
}
@-webkit-keyframes ch2{
	0% {filter:brightness(50%);z-index:10;}
	50% {filter:brightness(75%);transform:scale(1.18);z-index:10;}
	100%{filter:brightness(100%);width:23.8%;transform:scale(1);z-index:10;}

	
}

@keyframes ch2{
	0% {filter:brightness(50%);z-index:10;}
	50% {filter:brightness(75%);transform:scale(1.18);z-index:10;}
	100%{filter:brightness(100%);width:23.8%;transform:scale(1);z-index:10;}

	
}

.ch3{
	z-index:3;
}

.childhood:hover > .ch3{
    animation-delay:3.6s;
	animation-name:ch3;
	animation-duration:1.8s;
	animation-fill-mode:forwards;
	-webkit-animation-delay:3.6s;
	-webkit-animation-name:ch3;
	-webkit-animation-duration:1.8s;
	-webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes ch3{
	0% {filter:brightness(50%);z-index:10;}
	50% {filter:brightness(75%);transform:scale(1.18);z-index:10;}
	100%{filter:brightness(100%);width:23.8%;transform:scale(1);z-index:10;}
	}

@keyframes ch3{
	0% {filter:brightness(50%);z-index:10;}
	50% {filter:brightness(75%);transform:scale(1.18);z-index:10;}
	100%{filter:brightness(100%);width:23.8%;transform:scale(1);z-index:10;}
	}

.ch4{
	z-index:2;
}	

.childhood:hover > .ch4{
    animation-delay:5.4s;
	animation-name:ch4;
	animation-duration:1.8s;
	animation-fill-mode:forwards;
	-webkit-animation-delay:5.4s;
	-webkit-animation-name:ch4;
	-webkit-animation-duration:1.8s;
	-webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes ch4{
	0% {filter:brightness(50%);z-index:10;}
		50% {filter:brightness(75%);transform:scale(1.18);z-index:10;}

	100%{filter:brightness(100%);width:23.8%;transform:scale(1);z-index:10;}
	}

@keyframes ch4{
	0% {filter:brightness(50%);z-index:10;}
		50% {filter:brightness(75%);transform:scale(1.18);z-index:10;}

	100%{filter:brightness(100%);width:23.8%;transform:scale(1);z-index:10;}
	}

.teenage {
	width:98%;
   position:absolute;
   top:498px;
   margin-left:0.8%;
   font-size:20px;
   
   
  }
 
.teenage img{
	
    position:relative;
	filter:brightness(50%);
}  

  .teenage:hover>.ch1{

	animation-name:ch1;
	animation-duration:1.8s;
	animation-fill-mode:forwards;
	
	-webkit-animation-name:ch1;
	-webkit-animation-duration:1.8s;
	-webkit-animation-fill-mode:forwards;
	
}

.teenage:hover > .ch2 {
	animation-delay:1.8s;
	animation-name:ch2;
	animation-duration:1.8s;
	animation-fill-mode:forwards;

	-webkit-animation-delay:1.8s;
	-webkit-animation-name:ch2;
	-webkit-animation-duration:1.8s;
	-webkit-animation-fill-mode:forwards;
	
	
}

.teenage:hover > .ch3{
    animation-delay:3.6s;
	animation-name:ch3;
	animation-duration:1.8s;
	animation-fill-mode:forwards;

	-webkit-animation-delay:3.6s;
	-webkit-animation-name:ch3;
	-webkit-animation-duration:1.8s;
	-webkit-animation-fill-mode:forwards;
}

.teenage:hover > .ch4{

	animation-name:ch4;
	animation-duration:1.8s;
	animation-delay:5.4s;
	animation-fill-mode:forwards;

		-wbkit-animation-name:ch4;
	-webkit-animation-duration:1.8s;
	-webkit-animation-delay:5.4s;
	-webkit-animation-fill-mode:forwards;
}



.mywork {
	width:98%;
   position:absolute;
   top:888px;
   margin-left:1%;
   font-size:20px;
   
   
  }
 
.mywork img{
	
	position:absolute;
	width:68%;
	margin-left:14.8%;
	margin-top:0.8%;

	-webkit-animation: showMe 8s linear infinite 0s forwards ;
	-webkit-animation-play-state:paused;

	animation: showMe 8s linear infinite 0s forwards ;
	animation-play-state:paused;
	filter:brightness(50%);
	transition: all 2s ;
}  

.mywork:hover img{
	animation-play-state:running;
	-webkit-animation-play-state:running;
	transform: scale(1.18);
}

@-webkit-keyframes showMe {
    0% { visibility: visible; z-index: 100; filter:brightness(30%) ;}
	12.5% { visibility: visible; z-index: 100;}
	24.999% { visibility: visible; z-index: 100;filter:brightness(100%) ;}
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@keyframes showMe {
    0% { visibility: visible; z-index: 100; filter:brightness(30%) ;}
	12.5% { visibility: visible; z-index: 100;}
	24.999% { visibility: visible; z-index: 100;filter:brightness(100%) ;}
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

.mywork img:nth-child(1){
	z-index: 9;
}
.mywork img:nth-child(2){
	animation-delay: 2s;
		-webkit-animation-delay: 2s;

	z-index: 8;
}
.mywork img:nth-child(3){
	animation-delay: 4s;
		-webkit-animation-delay: 4s;

	z-index: 7;
}
.mywork img:nth-child(4){
	animation-delay: 6s;
		-webkit-animation-delay: 6s;

	z-index: 6;
}

.myseminar {
   top:1438px;
   width:98%;
   position:absolute;
   margin-left:1%;
   font-size:20px;
   
  }
 
.myseminar img{
	
    position:absolute;
	width:68%;
	margin-left:14.8%;
	margin-top:0.8%;
	animation: showMe 8s linear infinite 0s forwards ;
	animation-play-state:paused;
-webkit-animation: showMe 8s linear infinite 0s forwards ;
	-webkit-animation-play-state:paused;

	filter:brightness(50%);
	transition: all 2s ;
}  

.myseminar:hover img{
	animation-play-state:running;
		-webkit-animation-play-state:running;

	transform: scale(1.18);
}

@-webkit-keyframes showMe {
    0% { visibility: visible; z-index: 100; filter:brightness(30%) ;}
	12.5% { visibility: visible; z-index: 100;}
	24.999% { visibility: visible; z-index: 100;filter:brightness(120%) ;}
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@keyframes showMe {
    0% { visibility: visible; z-index: 100; filter:brightness(30%) ;}
	12.5% { visibility: visible; z-index: 100;}
	24.999% { visibility: visible; z-index: 100;filter:brightness(120%) ;}
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

.myseminar img:nth-child(1){
	z-index: 9;
}
.myseminar img:nth-child(2){
	animation-delay: 2s;
		-webkit-animation-delay: 2s;

	z-index: 8;
}
.myseminar img:nth-child(3){
	animation-delay: 4s;
		-webkit-animation-delay: 4s;

	z-index: 7;
}
.myseminar img:nth-child(4){
	animation-delay: 6s;
		-webkit-animation-delay: 6s;

	z-index: 6;
}


.seminar2 {

   width:98%;
   position:absolute;
   margin-left:1%;
   font-size:20px;
  top:1998px;
   
  }
 
.mysseminar img{
	
	position:absolute;
	width:68%;
	margin-left:14.8%;
	margin-top:0.8%;
	animation: show 12s linear infinite 0s forwards ;
	animation-play-state:paused;

	-webkit-animation: show 12s linear infinite 0s forwards ;
	-webkit-animation-play-state:paused;
	filter:brightness(50%);
	transition: all 2s ;
}  

.mysseminar:hover img{
	animation-play-state:running;
		-webkit-animation-play-state:running;

	transform: scale(1.18);
}
@-webkit-keyframes showMee {
     0% { visibility: visible;z-index:4; filter:brightness(40%) ;}
	17% { visibility: visible;z-index:4; filter:brightness(140%) ;}
	17.00001% { visibility: hidden;z-index:0;  }
    100% { visibility: hidden;z-index:0;  }
}

@keyframes showMee {
     0% { visibility: visible;z-index:4; filter:brightness(40%) ;}
	17% { visibility: visible;z-index:4; filter:brightness(140%) ;}
	17.00001% { visibility: hidden;z-index:0;  }
    100% { visibility: hidden;z-index:0;  }
}


.mysseminar img:nth-child(0){
	;
}
.mysseminar img:nth-child(1){
	animation-delay: 2s;
		-webkit-animation-delay: 2s;

	
}
.mysseminar img:nth-child(2){
	animation-delay: 4s;
		-webkit-animation-delay: 4s;


}
.mysseminar img:nth-child(3){
	animation-delay: 6s;
		-webkit-animation-delay: 6s;

	
}
.mysseminar img:nth-child(4){
	animation-delay: 8s;
		-webkit-animation-delay: 8s;

	
}
.mysseminar img:nth-child(5){
	animation-delay: 10s;
		-webkit-animation-delay: 10s;

}


.bgs1{
	background-color:white;
}

.skillheight{
	

}

.skillbg{
	position:relative;
	width:100%;
	height:1vh;

	
}

.skilltitle{

	margin-top:1%;
	background-color:none;
	font-size:68px;
	text-align:center;
	text-decoration:underline;
	font-weight:bold;
	color:mediumseagreen;
    
}

.marketlist{
	width:26.8%;
	text-align:center;
	background-color:orange;
	color:white;
	position:absolute;
	top:108px;
	margin-left:2.8%;
	
	font-size:46px;
	text-align:center;

}

.marketlist1{
	
	color:white;
	
	
	text-decoration:none;
	font-size:28px;

}

.program{
	width:26.8%;
	text-align:center;
	background-color:dodgerblue;
	color:white;
	position:absolute;
	top:238px;
	margin-left:2.8%;
	
	font-size:40px;
}

.program1{
	
	color:white;
	text-align:center;
	
	text-decoration:none;
	font-size:28px;

}

.invest{
	width:26.8%;
	background-color:tomato;
	color:white;
	position:absolute;
	top:428px;
	margin-left:2.8%;
	text-align:center;
	font-size:46px;

}

.invest1{
	
	color:white;
	text-align:center;
	width:98%;
	text-decoration:none;
	font-size:28px;

}

.sam{
	width:48.8%;
	border:2px solid orange;
	position:absolute;
	top:168px;
	margin-left:31.8%;
	color:lightgrey;
}

.samr{
	background-color:yellow;
	width:2%;
	color:yellow;
	animation: sam 3s linear 0s forwards ;
	animation-play-state:running;

	-webkit-animation: sam 3s linear 0s forwards ;
	-webkit-animation-play-state:running;
}
@-webkit-keyframes sam {
     0% { width:2%;}
	
    100% { width:79%;  }
}

@keyframes sam {
     0% { width:2%;}
	
    100% { width:79%;  }
}

.dm{
	width:48.8%;
	margin-left:31.8%;
	border:2px solid orange;
	position:absolute;
	top:198px;
	
	color:lightgrey;
}

.dmr{
	background-color:yellow;
	width:2%;
	color:yellow;
	animation: dm 3s linear 0s forwards ;
	animation-play-state:running;

	-webkit-animation: dm 3s linear 0s forwards ;
	-webkit-animation-play-state:running;
}

@-webkit-keyframes dm {
     0% { width:2%;}
	
    100% { width:75%;  }
}


@keyframes dm {
     0% { width:2%;}
	
    100% { width:75%;  }
}

.html{
	
	border:2px solid dodgerblue;
	position:absolute;
	top:288px;
	width:48.8%;
	margin-left:31.8%;
	color:lightgrey;
}

.htmlr{
	background-color:cyan;
	width:2%;
	color:cyan;
	animation: html 3s linear 0s forwards ;
	animation-play-state:running;

	-webkit-animation: html 3s linear 0s forwards ;
	-webkit-animation-play-state:running;
}

@-webkit-keyframes html {
     0% { width:2%;}
	
    100% { width:80%;  }
}

@keyframes html {
     0% { width:2%;}
	
    100% { width:80%;  }
}

.css{
	
	border:2px solid dodgerblue;
	position:absolute;
	top:320px;
    width:48.8%;
	margin-left:31.8%;
		color:lightgrey;
}

.cssr{
	background-color:cyan;
	width:2%;
	color:cyan;
	animation: css 3s linear 0s forwards ;
	animation-play-state:running;

	-webkit-animation: css 3s linear 0s forwards ;
	-webkit-animation-play-state:running;
}
@-webkit-keyframes css {
     0% { width:2%;}
	
    100% { width:85%;  }
}

@keyframes css {
     0% { width:2%;}
	
    100% { width:85%;  }
}

.php{
	border:2px solid dodgerblue;
	position:absolute;
	top:352px;
    width:48.8%;
	margin-left:31.8%;
	color:lightgrey;
}

.phpr{
	background-color:cyan;
	width:2%;
	color:cyan;
	animation: php 3s linear 0s forwards ;
	animation-play-state:running;

	-webkit-animation: php 3s linear 0s forwards ;
	-webkit-animation-play-state:running;
}
@-webkit-keyframes php {
     0% { width:2%;}
	
    100% { width:39%;  }
}

@keyframes php {
     0% { width:2%;}
	
    100% { width:39%;  }
}

.js{
	width:48.8%;
	margin-left:31.8%;
	border:2px solid dodgerblue;
	position:absolute;
	top:385px;
	color:lightgrey;
}

.jsr{
	background-color:cyan;
	width:2%;
	color:cyan;
	animation: js 3s linear 0s forwards ;
	animation-play-state:running;
	-webkit-animation: js 3s linear 0s forwards ;
	-webkit-animation-play-state:running;
}
@-webkit-keyframes js {
     0% { width:2%;}
	
    100% { width:34%;  }
}
@keyframes js {
     0% { width:2%;}
	
    100% { width:34%;  }
}

.si{
	width:48.8%;
	margin-left:31.8%;
	border:2px solid tomato;
	position:absolute;
	top:486px;
	color:lightgrey;
}

.sir{
	background-color:orangered;
	width:2%;
	color:orangered;
	animation: si 3s linear 0s forwards ;
	animation-play-state:running;
	-webkit-animation: si 3s linear 0s forwards ;
	-webkit-animation-play-state:running;
}
@-webkit-keyframes si {
     0% { width:2%;}
	
    100% { width:73%;  }
}
@keyframes si {
     0% { width:2%;}
	
    100% { width:73%;  }
}

.fi{
	width:48.8%;
	margin-left:31.8%;
	border:2px solid tomato;
	position:absolute;
	top:518px;
	color:lightgrey;
}

.fir{
	background-color:orangered;
	width:2%;
	color:orangered;
	animation: fi 3s linear 0s forwards ;
	animation-play-state:running;
	-webkit-animation: fi 3s linear 0s forwards ;
	-webkit-animation-play-state:running;
}
@-webkit-keyframes fi {
     0% { width:2%;}
	
    100% { width:65%;  }
}
@keyframes fi {
     0% { width:2%;}
	
    100% { width:65%;  }
}

.nsam{
	position:absolute;
	margin-left:83.8%;
	top:168px;
	color:chocolate;
	font-size:18px;
}

.nsam:hover{
	font-size:48px;
	color:white;
	background-color:orange;
	top:148px;
	z-index:3;
}

.ndm{
	position:absolute;
	margin-left:83.8%;
	top:199px;
	color:chocolate;
	font-size:18px;
}

.ndm:hover{
	font-size:48px;
	color:white;
	background-color:orange;
	top:178px;
	z-index:3;
}
.nhtml{
	position:absolute;
	margin-left:83.8%;
	top:288px;
	color:darkblue;
	font-size:18px;
}

.nhtml:hover{
	font-size:48px;
	color:white;
	background-color:dodgerblue;
	top:268px;
	z-index:3;
}

.ncss{
	position:absolute;
	margin-left:83.8%;
	top:320px;
	color:darkblue;
	font-size:18px;
}

.ncss:hover{
	font-size:48px;
	color:white;
	background-color:dodgerblue;
	top:300px;
	z-index:3;
}
.nphp{
	position:absolute;
	margin-left:83.8%;
	top:352px;
	color:darkblue;
	font-size:18px;
}

.nphp:hover{
	font-size:48px;
	color:white;
	background-color:dodgerblue;
	top:330px;
	z-index:3;
}
.njs{
	position:absolute;
	margin-left:83.8%;
	top:386px;
	color:darkblue;
	font-size:18px;
}

.njs:hover{
	font-size:48px;
	color:white;
	background-color:dodgerblue;
	top:366px;
	z-index:3;
}
.nsi{
	position:absolute;
	margin-left:83.8%;
	top:486px;
	color:darkred;
	font-size:18px;
}

.nsi:hover{
	font-size:48px;
	color:white;
	background-color:tomato;
	top:466px;
	z-index:3;
}
.nfi{
	position:absolute;
	margin-left:83.8%;
	top:518.8px;
	color:darkred;
	font-size:18px;
}

.nfi:hover{
	font-size:48px;
	color:white;
	background-color:tomato;
	top:498px;
	z-index:3;
}



#etitle{
	text-align:center;
	font-size:48px;
	font-weight:bold;
	text-decoration:underline;
}
#ep{
	text-align:center;
	font-size:18px;
}

.educenter{
    display: flex;
    justify-content:center;
        display: -webkit-flex;
            -webkit-justify-content:center;



	 }

.aboutpic{
	display:flex;
		display:-webkit-flex;

	margin:auto;
	border-radius:50%;
	width:288px;
	height:288px;
}	 

.atext h2 {
	text-align:center;

}

.atext p {

	font-size:20px;
	text-align:center;

}

.contact h1,p{
   
	text-align:center;
}

.contact h1{
	font-size:48px;

}
.contact{
	border:none;
	margin:0px;
	padding:0px;
	color:white;
	background-color:grey;
}

.contact p {
	margin:0px;
	padding:0px;
	font-size:30px;
}

.oo11{
	color:grey;
}
	 
.test {
	position:relative;
	bottom:1px;
	width:100%;
	background-color:grey;
	display: flex;
    justify-content:center;
    display: -webkit-flex;
    -webkit-justify-content:center;
}
}

.test img{
	
	margin-top:18px;
	margin-bottom:18px;
	border-radius:18%;
}	

.wechat8:hover + .wechat1{
	position:absolute;
    width:198px;
	height:198px;
	margin-top:-13.8%;
	visibility:visible;
}

.wechat1{
	visibility:hidden;

}	  
	   
.wechat8{
	margin-right:38px;
	border-radius:18%;
}	   
.facebookicon{
	margin-left:38px;
}	    
	    
.footer{
z-index:10;	
position:absolute;
text-align:center;
background-color:none;
color:white;
display:block;
width:100%;
top:498px;
font-size:18px;
height:28px;
}	     

.footer p{
	margin-top:1%;
}

.footer1{
z-index:10;	
text-align:center;
background-color:black;
color:white;
display:block;
width:100%;
font-size:18px;
height:56px;

}	     

.getbig:hover{
	width:53.8%;
	margin:0px;
	z-index:100;
	


	
}

.atext a{
	font-weight:bold;
	text-decoration:none;

}
