.test{
	height:18vh;
}

.aboutcover{
	height:388px;
	border-radius:18px !important;
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
}

.test1{
	height:18vh;
	width:88%;
}

.test2{
	height:18vh;
	width:88%;
}